<div class="bns_top">
    <img src="img/ic1.jpg" alt="">
    <span class="bns_top_name">{{name}}</span>
    <span class="bns_top_bal">Всего накоплено:  {{pointsTotal}} {{pointsText}}</span>
    <span class="bns_top_dost">Доступно для подарков: {{pointsConf}} {{pointsConfText}}</span>
</div>