<div style="margin: 0 -15px;">
    <div class="step1">
        <div class="bns_over_gift_img">
            <img src="{{pic_full}}" alt="">
            <span>{{points}} {{pointsText}}</span>
        </div>
        <span class="bns_over_gift_name">{{name}}</span>
        <div class="bns_over_gift_har">{{descr}}</div>
        <a href="#" class="js-confirm">добавить в корзину</a>
        <a href="#" class="js-popup-close">нет, выбрать другой</a>
    </div>
    <div class="step2">
        <div class="bns_over_gift_img">
            <img src="{{pic_full}}" alt="">
            <span>{{points}} {{pointsText}}</span>
        </div>
        <span class="bns_over_gift_name">{{name}}</span>
        <div class="bns_over_gift_har">{{descr}}</div>
        <a href="#" class="js-prevent">подарок успешно добавлен в корзину</a>
    </div>
</div>